<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uottawa.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.GameActivities.Multiplayer.NameSelectionActivity"
            android:label="@string/title_activity_name"

            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.SinglePlayer.LevelDifficultyActivity"
            android:label="@string/title_activity_level_difficulty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.SinglePlayer.SinglePlayerBoardSizeActivity"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.Multiplayer.MultiplayerBoardSizeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.Grid3x3BoardActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MatchHistoryActivity"
            android:label="@string/title_activity_match_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.Grid4x4BoardActivity"
            android:label="@string/title_activity_medium_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.GameActivities.Grid5x5BoardActivity"
            android:label="@string/title_activity_hard_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RulesActivity"
            android:label="@string/title_activity_rules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OptionsActivity"
            android:label="@string/title_activity_option"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>